
body {
	background-color: #eee;
}

h4 {
	margin: .5em 0;
}

.game {
	font-size: 16px;
	font-family: "Times New Roman", serif;
	color: #111;
	text-align: center;
}

.game .hand {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.game .card,
.game .card-drop-target {
	display: inline-block;
	width: 140px;
	height: 240px;
	background-color: #fff;
	border-radius: 8px;
	margin: 3px;
	padding: 10px;
	text-align: center;
}

.game .card {
	box-shadow: 1px 1px 1px 1px #ccc;
}

.game .card > div {
	border-radius: 5px;
	border: solid 1px #bcbcbc;
	height: 100%;
	position: relative;
}

.game .card .value,
.game .card .type {
	padding: 5px;
}

.game .card .value {
	position: absolute;
}

.game .card .type {
	padding: 75% 0;
}

.game .card .value:first-child {
	text-align: left;
}

.game .card .value:last-child {
	bottom: 0;
	right: 0;
}

.game .card-drop-target {
	background-color: transparent;
}

.game .card-drop-target:after {
	content: ".";
}

.game.spanish .card.cups .type {
	color: red;
}

.game.spanish .card.clubs .type {
	color: green;
}

.game.spanish .card.coins .type {
	color: yellow;
}

.game.spanish .card.swords .type {
	color: blue;
}
