
h4 {
	margin: 0.5em 0;
}

.game {
	font-size: 14px;
}

.game .hand {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.game .card,
.game .card-drop-target {
	display: inline-block;
	width: 64px;
	height: 85px;
	line-height: 85px;
	border-radius: 3px;
	margin: 3px;
	text-align: center;
	border: solid 2px transparent;
}

.game .card-drop-target {
	background-color: transparent;
	border-style: dashed;
	border-color: orange;
}

.game .card-drop-target:after {
	content: '\a0';
}

.game.spanish .card.cups {
	background-color: gray;
}

.game.spanish .card.clubs {
	background-color: green;
}

.game.spanish .card.coins {
	background-color: gold;
}

.game.spanish .card.swords {
	background-color: blue;
}
